.wow {
  width: 100px;
}

body {
  margin: 0;
  background-color: #001d3d;
}

/* From top to bottom of page, starting with the header, setting our colors, fonts, alignment and slight margining. */
header {
  color: white;
  font-family: "Goudy Bookletter 1911", sans-serif;
  text-align: center;
  margin-top: 10px;
  
}

/* Setting main parameters, holds the same font, include additional padding, and uses a gradient for the background image. */

main {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 14px;
  padding: 120px;
  text-align: center;
  background-image: linear-gradient(to right, #9BBACC , #9BBACC) ;  
}

/* This is defining the class we applied to our lists in HTML, we are ensuring the numbers and bullet points associated with those lists are inside. */
.list-inside li {
  list-style-position: inside;
}

/* Since the majority of the links happen towards the end of our main before the footer, I took this section to use pseudo-classes to set the colors for the links, and also to remove the underline that defaults with the links. */
a {
  text-decoration: none;
  background: #92EEEE;
}
a:link { color: blue;  }
a:visited { color: darkblue;  }
a:hover { color: #0081b8;  }
a:active { color: black;  }

/* Brief styling of the horizontal rule, margining the tops and bottoms, and giving a bit more height and a solid color. */
hr {
  height: 2px;
  background-color: black;
  margin-top: 36px;
  margin-bottom: 22px;
}

/* Lastly I set up the footer settings, there is a bit of margining to create space, and the text is aligned to center for presentation. */ 
footer {
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin-top: 26px;
  margin-bottom: 26px;
  
  color: white;
  text-align: center;
}